html {
    font-family:"Avenir Next", Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    max-width: 500px;
    margin: 0 auto;
}

input{
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

input:focus{
    outline: none;
}

li{
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

#foot{
    text-align: center;
    border: 3px dotted rgb(245, 241, 241);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

#task{
    text-align: center;
}

#todos{
    text-align: center;
}

.remove{
    padding-bottom: 5px;
}